.card-title1 {
    font-size: 3rem;
    
}

.titulo1 {
    font-size: 1rem;
    margin-bottom: 0;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2rem;
}

.btn {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

